{% extends 'base.html' %} 
{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.description }}</td>
            <td>
                <img src="{{ event.imageEvent.url }}" alt="" width="200" height="80" />
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
